{# Heredamos la plantilla indicandole que se encuentra en: src\BlogBundle\Resources\views #}
{% extends 'BlogBundle::layout.html.twig' %}
{# Si quisieramos indicarle que se encuentra en: src\BlogBundle\Resources\views\Default
   deberíamos escribir que se extiende o hereda de la siguiente manera:
      extends 'BlogBundle:Default:layout.html.twig'
#}
{% block content %}
    <div class="col-lg-4">
      <h2>Login</h2>
      <p>Por favor identificate</p>
      <hr />
      <form class="login login-user" action="{{ path( 'login_check' ) }}" method="post">
          <label for="username">Correo electrónico:</label>
          <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" />
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="_password" class="form-control" />
          <br />
          <button type="submit" name="button" class="btn btn-success">Entrar</button>
          <!-- Agregamos un campo oculto que nos permitirá controlar la redireccion una ves se ha pulsado el botón
               pasandole el parámetro '_target_path' al atributo 'name' y el parámetro '/login' al atributo 'value'
          -->
          <input type="hidden" name="_target_path" value="/login">
      </form>
    </div>

    <div class="col-lg-4">
      <h2>Registro</h2>
      <p>Por favor registrate</p>
      <hr />
      {{ form_start( form_register, { 'action':'', 'method':'post' } ) }} {# con o sin: { 'action':'', 'method':'post' } el formulario por defecto es POST #}
      {{ form_end( form_register ) }}
    </div>
      <div class="clearfix"></div>
    <hr />
    {# Verificamos si la autenticación fue exitosa o no.
       NOTA podemos usar la siguiente condición para saber si una variable esta definida
          if app.user is defined
     #}
    {% if app.user != null %}
      {{ dump( app.user ) }}
    {% endif %}

    {# Si el usuario que está autenticado 'is_granted' #}
    {% if is_granted( 'ROLE_USER' ) %}
      Hey! Estas logueado con el rol de usuario corriente
    {% elseif is_granted( 'ROLE_ADMIN' ) %}
      Hey! Estas logueado con el rol de <strong>Administador Todopoderoso</strong>
    {% endif %}
{% endblock %}
