<h2>Formulario curso<br /><small>con Symfony 3</small></h2>
  {# Validamos los datos que vienen del controlador #}
  {% if status != null and data != null %}
    <h3>{{ status }}</h3>
    {{ dump( data ) }}
  {% endif %}

{{ form_start(
      form,
      {
        'action':'',
        'method':'post'
      }
    )
}}
  {# Personalización del campo título #}
  {{ form_errors( form ) }}
  {{ form_widget( form ) }}         {# Despliega el campo personalizado #}
{{ form_end( form ) }}                      {# Cierre del formulario con el nombre del Formulario se cierra #}
