{# Plantilla Twig #}
{% extends '::layout.html.twig' %}      {# Importamos la plantilla que vamos a usar #}
{% block container %}                   {# Abre un bloque () #}
  {{ parent() }}                        {# Permite ver valor por defecto (si lo quitamos lo sobre-escribe ) #}
  {{ texto }}                           {# Valor que viene desde el controlador #}
  <hr />
  <h3>{{ titulo_frutas }}</h3>
  <ul>
    <li><strong>{{ frutas .manzana }}</strong></li>
    {% if frutas .manzana == 'golden' %}       {# Condicional #}
      <li>{{ frutas .naranja }}</li>           {# Accede al valor del item de un array #}
    {% endif %}
    {% if frutas .naranja starts with 'n' %}   {# Condicional inicia con #}
      <li>{{ frutas .naranja }}</li>           {# Accede al valor del item de un array #}
    {% endif %}
    {% if frutas .uva ends with 'ena' %}       {# Condicional finaliza con #}
      <li>{{ frutas .uva }}</li>               {# Accede al valor del item de un array #}
    {% endif %}
  </ul>
  <hr />
  {% set variable_twig = 'Hola Twig' %}        {# Declara una variable con Twig #}
  {{ variable_twig }}
  <hr />
  <h3>{{ titulo_productos }}</h3>
  {% if productos | length > 0 %}               {# Condicional, usando el filtro length #}
    <ul>
    {% for producto in productos %}             {# Ciclo for para recorrer un array #}
      <li>{{ producto .nombre }} ( {{ producto .precio }}USD )</li>
    {% endfor %}
    </ul>
  {% endif %}
  <hr /> {# Funciones predefinidas en Twig #}
  <h3>Funciones predefinidas en Twig</h3>
  <h4>Función Date</h4>
  {% set fecha = date() %}      {# Fecha actual #}
  {{ fecha .date }}<br />
  {{ dump( fecha ) }}
  <hr />
  {% set fecha = date( '-10 days', 'America/Bogota' ) %}      {# Fecha actual menos 10 días y TimeZone: Bogotá, Colombia #}
  {{ fecha .date }}<br />
  {{ dump( fecha ) }}
  <hr />
  {% include 'AppBundle::pruebas/partial.html.twig' %} {# Incluye una plantilla dentro de la "principal" #}
  {# include 'AppBundle:pruebas:partial.html.twig'     Equivale a lo mismo que está en la línea anterior #}
  {# include 'AppBundle::partial.html.twig'            Se puede eliminar la ruta y poner el archivo en la raíz de 'views' #}
  <hr />
  <h4>Números máximos y mínimos en un 'Array'</h4>
  {% set numeros = [ 45, 90, 34, 13, 2, 31 ] %}
  {{ dump( numeros ) }}
  Número máximo: {{ max( numeros ) }} <br />
  Número mínimo: {{ min( numeros ) }} <br />
  <h4>Valores aleatorios en un 'Array'</h4>
  {% set peliculas = [ 'Batman Vs Superman (2016)', 'Inferno (2016)', 'X-Men Apocalypse (2016)', 'Los juegos del hambre (2009)' ] %}
  {{ random( 1000 ) }} --> Número aleatorio (0 a 1000) <br />
  {{ random( numeros ) }} --> (Valor aleatorio de un array de 'números enteros' dados) <br />
  {{ random( peliculas ) }} --> (Valor aleatorio de un array de 'strings' dados) <br />
  <h4>Manejo de rangos de valores</h4>
  {% for i in range( 0, 25 ) %}     {# Rango de 0 a 25 #}
    {{ i }}, &nbsp;
  {% endfor %}<br />
  {% for i in range( 0, 25, 3 ) %}  {# Rango de 0 a 25 con salto de 3 en 3 #}
    {{ i }}, &nbsp;
  {% endfor %}
  <hr />
  <h3>Funciones personalizadas en Twig</h3>
  <h4>Genera una tabla de acuerdo a un 'Array' de datos que se le ha pasado como parámetro</h4>
  {{ generateTable( productos ) | raw }} {# Nueva Función Twig personalizada (usamos el filtro raw para que pinte el HTML) #}
{% endblock %}                           {# Cierra un bloque #}
